#main {
    margin-top: 50px;
    width: 800px;
    height: auto;
    padding: 10px;
}

.add-task {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    position: relative;
    margin: 0 auto;
    transition: .5s;
}
.add-task:hover {
    border-color: seagreen;
}

.add-task:hover .add-task__icon {
    color: seagreen;
}

.add-task__icon {
    font-size: 18px;
    transition: .5s;
}

.new-task {
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}

.date {
    margin-left: 75px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}

.circleBtn {
    margin: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: .5s;
}

.list {
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 3px;
    padding-left: 15px;
    min-height: 50px;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.list-p {
    width: 100%;
    font-size: 18px;
}

.priorSelect {
    border: 2px solid black;
    background: none;
    border-radius: 5px;
    margin-left: 20px;
    padding: 5px;
}

.editInput {
    width: 100%;
    padding: 0;
    margin: 0;
}

.date-p {
    min-width: 100px;
    font-weight: bold;
}

.btnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-icon {
    font-size: 14px;
}

.editInput {
    font-size: 18px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}